build/
install/
log/

src/lidar_calib/src/TEASER-plusplus/build
src/lidar_calib/src/TEASER-plusplus/Multi_LiCa/
src/lidar_calib/src/Multi_LiCa/output/stitched_initial.pcd
src/lidar_calib/src/Multi_LiCa/output/stitched_transformed.pcd

*.pyc
*.xlsx
*.csv

# 대용량 모델 가중치 (GitHub 100MB 제한 초과)
*.onnx
*.trt