build/
install/
log/

src/lidar_calib/src/TEASER-plusplus/build
src/lidar_calib/src/TEASER-plusplus/Multi_LiCa/
src/lidar_calib/src/Multi_LiCa/output/stitched_initial.pcd
src/lidar_calib/src/Multi_LiCa/output/stitched_transformed.pcd

*.pyc
*.xlsx
*.csv